<nav class="nav bg-dark display-flex align-items-center">
  <li class="nav-item font-weight-bold padding"><%=link_to 'Home', root_path, class:"text-white text-decoration-none "%></li>
  <li class="nav-item font-weight-bold padding"><%=link_to 'New article', new_article_path%></li>
  <li class="nav-item font-weight-bold padding text-secondary">Sign in</li>
  <li class="nav-item font-weight-bold padding text-secondary">Log out</li>
  <li class="nav-item font-weight-bold padding text-secondary">Sign up</li>
</nav>
