<nav class="nav bg-dark display-flex align-items-center">
  <li class="nav-item font-weight-bold padding"><%=link_to 'Home', root_path, class:"text-white text-decoration-none "%></li>
  <li class="nav-item font-weight-bold padding"><%=link_to 'New article', new_article_path%></li>
  <%= session_partials %>
</nav>
